*{
    margin: 12px;
    padding: 0;
    list-style: none;
}

body,td{
    background: rgba(114, 1, 252, 0.918);
}

.container{
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    margin-top: 1%;
}

h1{
    margin-top: 5%;
    margin-bottom: 4%;
}
.input-group{
    color: rgba(156, 154, 154, 0.733);
}