body{
    background-color: aquamarine;
    font-size: large;
    margin-left: 40%;
    margin-top: 20%;
}

form{
    background-color: blanchedalmond;
    border-radius: 20px;
    width: 350px;
    height: 175px;
    text-align: center;
}